<br/>
<div class="row">
  <div class="columns large-12">
    <ul class="button-group">
      Sort by: &nbsp;
      <li><%= sortable 'Form', 'name', 'asc' %></li>
      <li><%= sortable 'Created Date', 'created_at', 'asc' %></li>
    </ul>
  </div>
</Div>
<br/>

<p id="notice"><%= notice %></p>




<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>state</th>
      <th>priority</th>
      <th>creation_date</th>
      <th>end_date</th>

      <th colspan="3">ACTIONS</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.details %></td>
        <td><%= task.state %></td>
        <td><%= task.priority %></td>
        <td><%= task.created_at %></td>
        <td><%= task.end_date %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>




